:root {
    --background-color: #fff;
    --text-color: #000;
    --button-background-color: #f0f0f0;
    --button-text-color: #000;
}

body{
    background-color: var(--background-color);
    color: var(--text-color);
    width: auto;
    margin: 0 auto;
    text-align: center;
    font-family: fantasy;
}

header {
    background-color: rgb(255, 134, 42);
}

header h1{
    height: 80px;
    line-height: 80px;
}

nav {
    background-color: rgb(219, 164, 0);
    text-align: center;
    padding: 10px;
}

nav a{
    color: white;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
}

nav a:hover{
    background-color: rgb(255, 150, 150);
    color: black;
}

.intro{
    padding: 10px;
}

.footer{
    text-align: left;
    background-color: rgb(164, 94, 54);
    padding: 5px;
    margin: 0 auto;
    width: auto;
    bottom: 0px;
    position: fixed;
}

.dark-mode-toggle {
    position: fixed;
    right: 20px;
    bottom: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: var(--button-background-color);
    color: var(--button-text-color);
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
}

.dark-mode-toggle:hover {
    background-color: #e2e2e2;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.dark-mode {
    --background-color: #333;
    --text-color: #fff;
    --button-background-color: #666;
    --button-text-color: #fff;
}